ENVIRONMENT=development
LOG_LEVEL=INFO

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=vishesh.kapoor
POSTGRES_PASSWORD=vishesh.kapoor
POSTGRES_DB=retail-rag

REDIS_HOST=localhost
REDIS_PORT=6379
